/* -------------------------------------------------- 
 * OpenLayers custom
 * ------------------------------------------------ */
#map { 
  position: relative;
  width: 500px; height: 500px;
  background: url(../img/bg_tile.png); 
}

/**
 * The zoomslider in the third map shall be horizontal, placed in the top-right
 * corner, smaller and orange.
 */
#map .ol-zoomslider {
  top: 34px;
  left: 10px;
  width: 18px;
  height: 140px;
  padding: 0px 0px 0px 0px;
  position: absolute;
}

#map .ol-zoomslider:hover {
  cursor: pointer;
}

#map .ol-zoomslider-thumb {
  height: 7px;
  width: 18px;
  margin-left: 0px;
  filter: none;
  background-color: white;
  border: solid rgba(0,0,0,0.6) 1px;
  cursor: pointer;
}
#map a.ol-zoomslider-handle:hover {
  background-color: rgba(255,69,0,0.7);
}

#slider-container {
  z-index: 1;	
  position: absolute;
  top: 10px;
  left: 10px;
  width: 38px;
  /* height: 196px; */
  height: 206px; 
  background-color: white;
  border: solid #0000FF 1px;
  border-radius: 2px;
}

#slider-container .gauge {
	width: 18px;
	/* height: 140px; */
	height: 140px;
	left: 10px;
	top: 34px;
	display: inline-block;
	background: #FFFFFF;
	position: absolute;
}

#slider-container .gauge .highlight {
    width: 6px;
    height: 0px;	
    background: #0000FF;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 6px;
}

#slider-container .gauge .scale .horizontal {
  border: solid black 0.5px;
  margin-bottom: 9px;
  width: 10px;
  margin-left: 4px;
}

#slider-container .gauge .scale .vertical {
  height: 140px;
  border-left: solid black 1px;
  position: absolute;
  left: 9px;
}

#slider-container .ol-control {
	background-color: rgba(255,255,255,0)
}

#slider-container .zoom-in {
	position: absolute;
	top: 3px;
	left: 14px;
	cursor: pointer;

}
#slider-container .zoom-in img {
  width: 10px;
  height: 10px;
}

#slider-container .zoom-out {
	position: absolute;
	bottom: 5px;
	left: 14px;
	cursor: pointer;
}
#slider-container .zoom-out img {
  width: 10px;
  height: 8px;
}
.ol-zoom.ol-unselectable.ol-control {
  display: none;
}
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}   

/* -------------------------------------------------- 
 * Awesome Application Factory
 * ------------------------------------------------ */
body { margin: 0px; font-size: 14px; }
select { height: 34px; }
 
.aaf-ol5-button {
  display: inline-block;
  background: #006fff;
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.aaf-ol5-layer-toolbar {
  position: absolute;
  top: 0px;
  right: 0px;
  background: white;
  padding: 10px;
  border-radius: 3px;
  /* max-height: 300px; */
  height: calc(100% - 70px);
  overflow: auto;
  border: solid #0000FF 1px;
}
.aaf-ol5-vworld-logo {
  /* display: none; */
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 93px;
  height: 28px;
  background: url(../img/logo_openplatform_simple.png)
}


/* -------------------------------------------------- 
 * Third Party
 * ------------------------------------------------ */
.buttonBox { display: inline-block; }
.buttonBox label { display: inline-block; padding: .5em .75em; color: #FFFFFF; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #006fff; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; }
.buttonBox input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
